{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://guardduty.amazonaws.com/"
        },
        {
            "url": "http://guardduty.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "Assess, monitor, manage, and remediate security issues across your AWS infrastructure, applications, and data.",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon GuardDuty",
        "version": "2017-11-28",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/guardduty-2017-11-28.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "guardduty"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/guardduty/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/detector": {
            "get": {
                "description": "Lists detectorIds of all the existing Amazon GuardDuty detector resources.",
                "operationId": "ListDetectors",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "MaxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "NextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "DetectorIds": {
                                            "description": "A list of detector Ids.",
                                            "items": {
                                                "description": "The unique identifier for a detector.",
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "NextToken": {
                                            "description": "You can use this parameter when paginating results. Set the value of this parameter to null on your first call to the list action. For subsequent calls to the action fill nextToken in the request with the value of NextToken from the previous response to continue listing data.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a single Amazon GuardDuty detector. A detector is an object that represents the GuardDuty service. A detector must be created in order for GuardDuty to become operational.",
                "operationId": "CreateDetector",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "DetectorId": {
                                            "description": "The unique ID of the created detector.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "CreateDetector request body.",
                                "properties": {
                                    "ClientToken": {
                                        "description": "The idempotency token for the create request.",
                                        "maxLength": 64,
                                        "minLength": 0,
                                        "type": "string"
                                    },
                                    "Enable": {
                                        "description": "A boolean value that specifies whether the detector is to be enabled.",
                                        "type": "boolean"
                                    },
                                    "FindingPublishingFrequency": {
                                        "description": "A enum value that specifies how frequently customer got Finding updates published.",
                                        "enum": [
                                            "FIFTEEN_MINUTES",
                                            "ONE_HOUR",
                                            "SIX_HOURS"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "Enable"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/detector/{detectorId}": {
            "delete": {
                "description": "Deletes a Amazon GuardDuty detector specified by the detector ID.",
                "operationId": "DeleteDetector",
                "parameters": [
                    {
                        "in": "path",
                        "name": "detectorId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "get": {
                "description": "Retrieves an Amazon GuardDuty detector specified by the detectorId.",
                "operationId": "GetDetector",
                "parameters": [
                    {
                        "in": "path",
                        "name": "detectorId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "CreatedAt": {
                                            "description": "The first time a resource was created. The format will be ISO-8601.",
                                            "type": "string"
                                        },
                                        "FindingPublishingFrequency": {
                                            "description": "A enum value that specifies how frequently customer got Finding updates published.",
                                            "enum": [
                                                "FIFTEEN_MINUTES",
                                                "ONE_HOUR",
                                                "SIX_HOURS"
                                            ],
                                            "type": "string"
                                        },
                                        "ServiceRole": {
                                            "description": "Customer serviceRole name or ARN for accessing customer resources",
                                            "type": "string"
                                        },
                                        "Status": {
                                            "description": "The status of detector.",
                                            "enum": [
                                                "ENABLED",
                                                "DISABLED"
                                            ],
                                            "type": "string"
                                        },
                                        "UpdatedAt": {
                                            "description": "The first time a resource was created. The format will be ISO-8601.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Updates an Amazon GuardDuty detector specified by the detectorId.",
                "operationId": "UpdateDetector",
                "parameters": [
                    {
                        "in": "path",
                        "name": "detectorId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "UpdateDetector request body.",
                                "properties": {
                                    "Enable": {
                                        "description": "Updated boolean value for the detector that specifies whether the detector is enabled.",
                                        "type": "boolean"
                                    },
                                    "FindingPublishingFrequency": {
                                        "description": "A enum value that specifies how frequently customer got Finding updates published.",
                                        "enum": [
                                            "FIFTEEN_MINUTES",
                                            "ONE_HOUR",
                                            "SIX_HOURS"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/detector/{detectorId}/filter": {
            "get": {
                "description": "Returns a paginated list of the current filters.",
                "operationId": "ListFilters",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "MaxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "NextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "detectorId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "FilterNames": {
                                            "description": "A list of filter names",
                                            "items": {
                                                "description": "The unique identifier for a filter",
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "NextToken": {
                                            "description": "You can use this parameter when paginating results. Set the value of this parameter to null on your first call to the list action. For subsequent calls to the action fill nextToken in the request with the value of NextToken from the previous response to continue listing data.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a filter using the specified finding criteria.",
                "operationId": "CreateFilter",
                "parameters": [
                    {
                        "in": "path",
                        "name": "detectorId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Name": {
                                            "description": "The name of the successfully created filter.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "CreateFilterRequest request body.",
                                "properties": {
                                    "Action": {
                                        "description": "Specifies the action that is to be applied to the findings that match the filter.",
                                        "enum": [
                                            "NOOP",
                                            "ARCHIVE"
                                        ],
                                        "type": "string"
                                    },
                                    "ClientToken": {
                                        "description": "The idempotency token for the create request.",
                                        "maxLength": 64,
                                        "minLength": 0,
                                        "type": "string"
                                    },
                                    "Description": {
                                        "description": "The description of the filter.",
                                        "type": "string"
                                    },
                                    "FindingCriteria": {
                                        "description": "Represents the criteria to be used in the filter for querying findings.",
                                        "properties": {
                                            "Criterion": {
                                                "description": "Represents a map of finding properties that match specified conditions and values when querying findings.",
                                                "items": {
                                                    "properties": {
                                                        "key": {
                                                            "type": "string"
                                                        },
                                                        "value": {
                                                            "description": "Finding attribute (for example, accountId) for which conditions and values must be specified when querying findings.",
                                                            "properties": {
                                                                "Eq": {
                                                                    "description": "Represents the equal condition to be applied to a single field when querying for findings.",
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "Gt": {
                                                                    "description": "Represents the greater than condition to be applied to a single field when querying for findings.",
                                                                    "type": "integer"
                                                                },
                                                                "Gte": {
                                                                    "description": "Represents the greater than equal condition to be applied to a single field when querying for findings.",
                                                                    "type": "integer"
                                                                },
                                                                "Lt": {
                                                                    "description": "Represents the less than condition to be applied to a single field when querying for findings.",
                                                                    "type": "integer"
                                                                },
                                                                "Lte": {
                                                                    "description": "Represents the less than equal condition to be applied to a single field when querying for findings.",
                                                                    "type": "integer"
                                                                },
                                                                "Neq": {
                                                                    "description": "Represents the not equal condition to be applied to a single field when querying for findings.",
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "Name": {
                                        "description": "The name of the filter.",
                                        "type": "string"
                                    },
                                    "Rank": {
                                        "description": "Specifies the position of the filter in the list of current filters. Also specifies the order in which this filter is applied to the findings.",
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "FindingCriteria",
                                    "Name"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/detector/{detectorId}/filter/{filterName}": {
            "delete": {
                "description": "Deletes the filter specified by the filter name.",
                "operationId": "DeleteFilter",
                "parameters": [
                    {
                        "in": "path",
                        "name": "detectorId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "filterName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "get": {
                "description": "Returns the details of the filter specified by the filter name.",
                "operationId": "GetFilter",
                "parameters": [
                    {
                        "in": "path",
                        "name": "detectorId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "filterName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Action": {
                                            "description": "Specifies the action that is to be applied to the findings that match the filter.",
                                            "enum": [
                                                "NOOP",
                                                "ARCHIVE"
                                            ],
                                            "type": "string"
                                        },
                                        "Description": {
                                            "description": "The description of the filter.",
                                            "type": "string"
                                        },
                                        "FindingCriteria": {
                                            "description": "Represents the criteria to be used in the filter for querying findings.",
                                            "properties": {
                                                "Criterion": {
                                                    "description": "Represents a map of finding properties that match specified conditions and values when querying findings.",
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "description": "Finding attribute (for example, accountId) for which conditions and values must be specified when querying findings.",
                                                                "properties": {
                                                                    "Eq": {
                                                                        "description": "Represents the equal condition to be applied to a single field when querying for findings.",
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "Gt": {
                                                                        "description": "Represents the greater than condition to be applied to a single field when querying for findings.",
                                                                        "type": "integer"
                                                                    },
                                                                    "Gte": {
                                                                        "description": "Represents the greater than equal condition to be applied to a single field when querying for findings.",
                                                                        "type": "integer"
                                                                    },
                                                                    "Lt": {
                                                                        "description": "Represents the less than condition to be applied to a single field when querying for findings.",
                                                                        "type": "integer"
                                                                    },
                                                                    "Lte": {
                                                                        "description": "Represents the less than equal condition to be applied to a single field when querying for findings.",
                                                                        "type": "integer"
                                                                    },
                                                                    "Neq": {
                                                                        "description": "Represents the not equal condition to be applied to a single field when querying for findings.",
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Name": {
                                            "description": "The name of the filter.",
                                            "type": "string"
                                        },
                                        "Rank": {
                                            "description": "Specifies the position of the filter in the list of current filters. Also specifies the order in which this filter is applied to the findings.",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Updates the filter specified by the filter name.",
                "operationId": "UpdateFilter",
                "parameters": [
                    {
                        "in": "path",
                        "name": "detectorId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "filterName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Name": {
                                            "description": "The name of the filter.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "UpdateFilterRequest request body.",
                                "properties": {
                                    "Action": {
                                        "description": "Specifies the action that is to be applied to the findings that match the filter.",
                                        "enum": [
                                            "NOOP",
                                            "ARCHIVE"
                                        ],
                                        "type": "string"
                                    },
                                    "Description": {
                                        "description": "The description of the filter.",
                                        "type": "string"
                                    },
                                    "FindingCriteria": {
                                        "description": "Represents the criteria to be used in the filter for querying findings.",
                                        "properties": {
                                            "Criterion": {
                                                "description": "Represents a map of finding properties that match specified conditions and values when querying findings.",
                                                "items": {
                                                    "properties": {
                                                        "key": {
                                                            "type": "string"
                                                        },
                                                        "value": {
                                                            "description": "Finding attribute (for example, accountId) for which conditions and values must be specified when querying findings.",
                                                            "properties": {
                                                                "Eq": {
                                                                    "description": "Represents the equal condition to be applied to a single field when querying for findings.",
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "Gt": {
                                                                    "description": "Represents the greater than condition to be applied to a single field when querying for findings.",
                                                                    "type": "integer"
                                                                },
                                                                "Gte": {
                                                                    "description": "Represents the greater than equal condition to be applied to a single field when querying for findings.",
                                                                    "type": "integer"
                                                                },
                                                                "Lt": {
                                                                    "description": "Represents the less than condition to be applied to a single field when querying for findings.",
                                                                    "type": "integer"
                                                                },
                                                                "Lte": {
                                                                    "description": "Represents the less than equal condition to be applied to a single field when querying for findings.",
                                                                    "type": "integer"
                                                                },
                                                                "Neq": {
                                                                    "description": "Represents the not equal condition to be applied to a single field when querying for findings.",
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "Rank": {
                                        "description": "Specifies the position of the filter in the list of current filters. Also specifies the order in which this filter is applied to the findings.",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/detector/{detectorId}/findings": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Lists Amazon GuardDuty findings for the specified detector ID.",
                "operationId": "ListFindings",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "MaxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "NextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "detectorId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "FindingIds": {
                                            "description": "The list of the Findings.",
                                            "items": {
                                                "description": "The unique identifier for the Finding",
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "NextToken": {
                                            "description": "You can use this parameter when paginating results. Set the value of this parameter to null on your first call to the list action. For subsequent calls to the action fill nextToken in the request with the value of NextToken from the previous response to continue listing data.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "ListFindings request body.",
                                "properties": {
                                    "FindingCriteria": {
                                        "description": "Represents the criteria used for querying findings.",
                                        "properties": {
                                            "Criterion": {
                                                "description": "Represents a map of finding properties that match specified conditions and values when querying findings.",
                                                "items": {
                                                    "properties": {
                                                        "key": {
                                                            "type": "string"
                                                        },
                                                        "value": {
                                                            "description": "Finding attribute (for example, accountId) for which conditions and values must be specified when querying findings.",
                                                            "properties": {
                                                                "Eq": {
                                                                    "description": "Represents the equal condition to be applied to a single field when querying for findings.",
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "Gt": {
                                                                    "description": "Represents the greater than condition to be applied to a single field when querying for findings.",
                                                                    "type": "integer"
                                                                },
                                                                "Gte": {
                                                                    "description": "Represents the greater than equal condition to be applied to a single field when querying for findings.",
                                                                    "type": "integer"
                                                                },
                                                                "Lt": {
                                                                    "description": "Represents the less than condition to be applied to a single field when querying for findings.",
                                                                    "type": "integer"
                                                                },
                                                                "Lte": {
                                                                    "description": "Represents the less than equal condition to be applied to a single field when querying for findings.",
                                                                    "type": "integer"
                                                                },
                                                                "Neq": {
                                                                    "description": "Represents the not equal condition to be applied to a single field when querying for findings.",
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "MaxResults": {
                                        "description": "You can use this parameter to indicate the maximum number of items you want in the response. The default value is 50. The maximum value is 50.",
                                        "maximum": 50,
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "NextToken": {
                                        "description": "You can use this parameter when paginating results. Set the value of this parameter to null on your first call to the ListFindings action. For subsequent calls to the action fill nextToken in the request with the value of nextToken from the previous response to continue listing data.",
                                        "type": "string"
                                    },
                                    "SortCriteria": {
                                        "description": "Represents the criteria used for sorting findings.",
                                        "properties": {
                                            "AttributeName": {
                                                "description": "Represents the finding attribute (for example, accountId) by which to sort findings.",
                                                "type": "string"
                                            },
                                            "OrderBy": {
                                                "description": "Order by which the sorted findings are to be displayed.",
                                                "enum": [
                                                    "ASC",
                                                    "DESC"
                                                ],
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/detector/{detectorId}/findings/archive": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Archives Amazon GuardDuty findings specified by the list of finding IDs.",
                "operationId": "ArchiveFindings",
                "parameters": [
                    {
                        "in": "path",
                        "name": "detectorId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "ArchiveFindings request body.",
                                "properties": {
                                    "FindingIds": {
                                        "description": "IDs of the findings that you want to archive.",
                                        "items": {
                                            "description": "The unique identifier for the Finding",
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "FindingIds"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/detector/{detectorId}/findings/create": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Generates example findings of types specified by the list of finding types. If 'NULL' is specified for findingTypes, the API generates example findings of all supported finding types.",
                "operationId": "CreateSampleFindings",
                "parameters": [
                    {
                        "in": "path",
                        "name": "detectorId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "CreateSampleFindings request body.",
                                "properties": {
                                    "FindingTypes": {
                                        "description": "Types of sample findings that you want to generate.",
                                        "items": {
                                            "description": "The finding type for the finding",
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/detector/{detectorId}/findings/feedback": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Marks specified Amazon GuardDuty findings as useful or not useful.",
                "operationId": "UpdateFindingsFeedback",
                "parameters": [
                    {
                        "in": "path",
                        "name": "detectorId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "UpdateFindingsFeedback request body.",
                                "properties": {
                                    "Comments": {
                                        "description": "Additional feedback about the GuardDuty findings.",
                                        "type": "string"
                                    },
                                    "Feedback": {
                                        "description": "Valid values: USEFUL | NOT_USEFUL",
                                        "enum": [
                                            "USEFUL",
                                            "NOT_USEFUL"
                                        ],
                                        "type": "string"
                                    },
                                    "FindingIds": {
                                        "description": "IDs of the findings that you want to mark as useful or not useful.",
                                        "items": {
                                            "description": "The unique identifier for the Finding",
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "Feedback",
                                    "FindingIds"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/detector/{detectorId}/findings/get": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Describes Amazon GuardDuty findings specified by finding IDs.",
                "operationId": "GetFindings",
                "parameters": [
                    {
                        "in": "path",
                        "name": "detectorId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Findings": {
                                            "description": "A list of findings.",
                                            "items": {
                                                "description": "Representation of a abnormal or suspicious activity.",
                                                "properties": {
                                                    "AccountId": {
                                                        "description": "AWS account ID where the activity occurred that prompted GuardDuty to generate a finding.",
                                                        "type": "string"
                                                    },
                                                    "Arn": {
                                                        "description": "The ARN of a finding described by the action.",
                                                        "type": "string"
                                                    },
                                                    "Confidence": {
                                                        "description": "The confidence level of a finding.",
                                                        "format": "double",
                                                        "type": "number"
                                                    },
                                                    "CreatedAt": {
                                                        "description": "The time stamp at which a finding was generated.",
                                                        "type": "string"
                                                    },
                                                    "Description": {
                                                        "description": "The description of a finding.",
                                                        "type": "string"
                                                    },
                                                    "Id": {
                                                        "description": "The identifier that corresponds to a finding described by the action.",
                                                        "type": "string"
                                                    },
                                                    "Partition": {
                                                        "description": "The AWS resource partition.",
                                                        "type": "string"
                                                    },
                                                    "Region": {
                                                        "description": "The AWS region where the activity occurred that prompted GuardDuty to generate a finding.",
                                                        "type": "string"
                                                    },
                                                    "Resource": {
                                                        "description": "The AWS resource associated with the activity that prompted GuardDuty to generate a finding.",
                                                        "properties": {
                                                            "AccessKeyDetails": {
                                                                "description": "The IAM access key details (IAM user information) of a user that engaged in the activity that prompted GuardDuty to generate a finding.",
                                                                "properties": {
                                                                    "AccessKeyId": {
                                                                        "description": "Access key ID of the user.",
                                                                        "type": "string"
                                                                    },
                                                                    "PrincipalId": {
                                                                        "description": "The principal ID of the user.",
                                                                        "type": "string"
                                                                    },
                                                                    "UserName": {
                                                                        "description": "The name of the user.",
                                                                        "type": "string"
                                                                    },
                                                                    "UserType": {
                                                                        "description": "The type of the user.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "InstanceDetails": {
                                                                "description": "The information about the EC2 instance associated with the activity that prompted GuardDuty to generate a finding.",
                                                                "properties": {
                                                                    "AvailabilityZone": {
                                                                        "description": "The availability zone of the EC2 instance.",
                                                                        "type": "string"
                                                                    },
                                                                    "IamInstanceProfile": {
                                                                        "description": "The profile information of the EC2 instance.",
                                                                        "properties": {
                                                                            "Arn": {
                                                                                "description": "AWS EC2 instance profile ARN.",
                                                                                "type": "string"
                                                                            },
                                                                            "Id": {
                                                                                "description": "AWS EC2 instance profile ID.",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "ImageDescription": {
                                                                        "description": "The image description of the EC2 instance.",
                                                                        "type": "string"
                                                                    },
                                                                    "ImageId": {
                                                                        "description": "The image ID of the EC2 instance.",
                                                                        "type": "string"
                                                                    },
                                                                    "InstanceId": {
                                                                        "description": "The ID of the EC2 instance.",
[...]
